<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.build.cloud.modules.productplan.dao.ProPlanDetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.build.cloud.modules.productplan.dto.ProPlanDetail">
		<id column="id" property="id" />
		<result column="pro_id" property="proId" />
		<result column="wbs_code" property="wbsCode" />
		<result column="wbs_name" property="wbsName" />
		<result column="name_property" property="nameProperty" />
		<result column="property_type" property="propertyType" />
		<result column="plan_begin_date" property="planBeginDate" />
		<result column="plan_end_date" property="planEndDate" />
		<result column="duration" property="duration" />
		<result column="quantities" property="quantities" />
		<result column="unit" property="unit" />
		<result column="act_begin_date" property="actBeginDate" />
		<result column="act_end_date" property="actEndDate" />
		<result column="ahead_delay" property="aheadDelay" />
		<result column="award_punish" property="awardPunish" />
		<result column="idx" property="idx" />
		<result column="unique_id" property="uniqueId" />
		<result column="parent_id" property="parentId" />
		<result column="pre_id" property="preId" />
		<result column="outline_level" property="outlineLevel" />
		<result column="leaf" property="leaf" />
		<result column="is_worked" property="isWorked" />
		<result column="consplit_id" property="consplitId" />
		<result column="parent_id" property="parentId" />
		<result column="add_delete" property="addDelete" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="valid" property="valid" />
	</resultMap>
	
	<delete id="physicsDelete">
		delete FROM pro_plan_detail 
		<where>
			pro_id = #{proId} 
		</where>
	</delete>

	<select id="queryPlanDetailList" parameterType="String" resultType="com.build.cloud.modules.productplan.dto.ProPlanDetail">
		SELECT
			*
		FROM
			pro_plan_detail
		WHERE
			pro_id IN (
				SELECT
					id
				FROM
					pro_plan_info
				WHERE
					eff_status = 1
				AND check_status = 2
				AND return_status = 0
				AND valid = 0
and project_id = #{_parameter}
			)
		AND valid = 0
	</select>
	
	<select id="selectAuthPlanDetailList" parameterType="java.util.Map" resultType="com.build.cloud.modules.productplan.dto.ProPlanDetail">
		SELECT * FROM pro_plan_detail t 
		WHERE t.valid = '0' AND t.pro_id = #{proId} AND 
		(
			t.unique_id in 
			(
				SELECT 
					a.unique_id 
				FROM pro_plan_detail a 
				LEFT JOIN ls_contract_labor b ON a.consplit_id = b.id AND a.property_type = 'layered'
				LEFT JOIN bs_bussiness c ON b.partyb_id = c.id 
				WHERE a.valid = '0' AND a.pro_id = #{proId} AND c.relation_company_id = #{relationCompanyId} 
			) 
			or t.parent_id in
			(
				SELECT 
					a.unique_id 
				FROM pro_plan_detail a 
				LEFT JOIN ls_contract_labor b ON a.consplit_id = b.id AND a.property_type = 'layered'
				LEFT JOIN bs_bussiness c ON b.partyb_id = c.id 
				WHERE a.valid = '0' AND a.pro_id = #{proId} AND c.relation_company_id = #{relationCompanyId} 
			)
		) order by t.idx 
	</select>
	
	<select id="selectLaborPlanDetailList" parameterType="java.util.Map" resultType="com.build.cloud.modules.productplan.dto.ProPlanDetail">
		SELECT 
			t.* 
		FROM pro_plan_detail t 
		WHERE 
			t.valid = '0' 
			AND t.pro_id = #{proId} 
			AND
			(
				t.parent_id in 
				(
					SELECT 
						c.unique_id   
					FROM pro_plan_detail c 
					INNER JOIN ls_contract_labor d ON c.consplit_id = d.id AND c.property_type = 'layered' 
					WHERE d.valid = '0' AND c.pro_id = #{proId} AND d.id in 
						(
						SELECT a.id 
						FROM ls_contract_labor a
						LEFT JOIN bs_bussiness b ON a.partyb_id = b.id
						WHERE
						  a.project_id IN 
						  (SELECT a.id FROM bs_project a LEFT JOIN op_public_project b ON a.pro_id = b.id WHERE a.pro_id = #{prId} AND a.company_id = #{beneralcontractorId}) 
						  AND b.relation_company_id = #{relationCompanyId}
						)
				)
				or t.unique_id in
				(
					SELECT 
						c.unique_id   
					FROM pro_plan_detail c 
					INNER JOIN ls_contract_labor d ON c.consplit_id = d.id AND c.property_type = 'layered' 
					WHERE d.valid = '0' AND c.pro_id = #{proId} AND d.id in 
						(
						SELECT a.id 
						FROM ls_contract_labor a
						LEFT JOIN bs_bussiness b ON a.partyb_id = b.id
						WHERE
						  a.project_id IN 
						  (SELECT a.id FROM bs_project a LEFT JOIN op_public_project b ON a.pro_id = b.id WHERE a.pro_id = #{prId} AND a.company_id = #{beneralcontractorId}) 
						  AND b.relation_company_id = #{relationCompanyId}
						)
				) 
			) order by t.idx asc
	</select>
</mapper>
